/node_modules
/public/hot
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/storage/logs/
public/conf/
/storage/logs/laravel.log
/storage/settings.json
/.idea/openmeet.iml
