.openmeet-color{color:#007bff;}

.btn-openmeet {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-openmeet:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-openmeet:focus, .btn-openmeet.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-openmeet.disabled, .btn-openmeet:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-openmeet:not(:disabled):not(.disabled):active, .btn-openmeet:not(:disabled):not(.disabled).active,
.show > .btn-openmeet.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-openmeet:not(:disabled):not(.disabled):active:focus, .btn-openmeet:not(:disabled):not(.disabled).active:focus,
.show > .btn-openmeet.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
