@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s
  }
  .animation-delay-4000 {
    animation-delay: 4s
  }
}



.leaflet-popup-content {
  margin: 0 !important;
}

.leaflet-popup-content-wrapper {
  padding: 0 !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: none !important;
}

.leaflet-control-container {
  display: none;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
